<app-mainmenu></app-mainmenu>

<div class="body">
  <app-searchbar></app-searchbar>

  <div class="teaser">
    <img class="teaserimg" src="/assets/images/3333.png">
  </div>

  <section>
    <div class="col-lg-4 col-lg-3 product"  *ngFor="let item of myItems">
      <a class="link">
        <a href="" class="product-imgwrapper">
          <img src="/assets/images/{{item.id}}.jpg">
        </a>
        <h3 class="product-category">{{item.category}}</h3>
        <h2 class="product-category-title">{{item.name}}</h2>
        <h3 class="product-preis">{{item.price}}</h3>
      </a>
    </div>
  </section>

</div>

<app-footer></app-footer>
