<nav class="nav">
	<ul class="first-ul">
	 	<li class="nav-item">
	 		<a>PAPETERIE</a>
		 	<div class="dropdown-content">
		 		<div class="dropdown-content-inner">
		 			<div>
						<h3>Kalender und Terminplaner</h3>
					    <ul>
					   		<li><a href="http://localhost:4200/product-page">Artikel 1</a></li>
							<li><a href="#">Artikel 2</a></li>
						  	<li><a href="#">Artikel 3</a></li>
						  	<li><a href="#">Artikel 4</a></li>
						  	<li><a href="#">Artikel 5</a></li>
						</ul>
					</div>
					<div>
						<h3>Papier</h3>
					    <ul>
						   	<li><a href="#">Artikel 1</a></li>
						  	<li><a href="#">Artikel 2</a></li>
						  	<li><a href="#">Artikel 3</a></li>
						  	<li><a href="#">Artikel 4</a></li>
						  	<li><a href="#">Artikel 5</a></li>
					  	</ul>
					</div>
				</div>
	    	</div>
	    </li> <!-- E PAPETERIE -->
	 	<li class="nav-item">
	 		<a>ORDNEN</a>
			<div class="dropdown-content">
		 		<div class="dropdown-content-inner">
		 			<div>
						<h3>Ordner</h3>
					    <ul>
					   		<li><a href="#">Artikel 1</a></li>
							<li><a href="#">Artikel 2</a></li>
						  	<li><a href="#">Artikel 3</a></li>
						  	<li><a href="#">Artikel 4</a></li>
						</ul>
					</div>
					<div>
						<h3>Hefter</h3>
					    <ul>
						   	<li><a href="#">Artikel 1</a></li>
						  	<li><a href="#">Artikel 2</a></li>
						  	<li><a href="#">Artikel 3</a></li>
						  	<li><a href="#">Artikel 4</a></li>
						  	<li><a href="#">Artikel 5</a></li>
					  	</ul>
					</div>
				</div>
	    	</div>
	 	</li> <!-- E ORDNEN -->
		<li class="nav-item">
			<a>SCHREIBWAREN</a>
			<div class="dropdown-content">
		 		<div class="dropdown-content-inner">
		 			<div>
						<h3>Schreibger&auml;te</h3>
					    <ul>
					   		<li><a href="#">Artikel 1</a></li>
							<li><a href="#">Artikel 2</a></li>
						  	<li><a href="#">Artikel 3</a></li>
						  	<li><a href="#">Artikel 4</a></li>
						  	<li><a href="#">Artikel 5</a></li>
						</ul>
					</div>
					<div>
						<h3>Korrigieren</h3>
					    <ul>
						   	<li><a href="#">Artikel 1</a></li>
						  	<li><a href="#">Artikel 2</a></li>
						  	<li><a href="#">Artikel 3</a></li>
						  	<li><a href="#">Artikel 4</a></li>
						  	<li><a href="#">Artikel 5</a></li>
					  	</ul>
					</div>
				</div>
	    	</div>
		</li> <!-- E SCHREIBWAREN -->
		<li class="nav-item"><a href='#'>KUNSTLER BEDARF</a>
			<div class="dropdown-content">
		 		<div class="dropdown-content-inner">
		 			<div>
						<h3>Malen &amp; Zeichnen</h3>
					    <ul>
					   		<li><a href="#">Artikel 1</a></li>
							<li><a href="#">Artikel 2</a></li>
						  	<li><a href="#">Artikel 3</a></li>
						  	<li><a href="#">Artikel 4</a></li>
						  	<li><a href="#">Artikel 5</a></li>
						  	<li><a href="#">Artikel 6</a></li>
						  	<li><a href="#">Artikel 7</a></li>
						  	<li><a href="#">Artikel 8</a></li>
						  	<li><a href="#">Artikel 9</a></li>
						  	<li><a href="#">Artikel 10</a></li>
						</ul>
					</div>
				</div>
	    	</div>
		</li> <!-- E KUNSTLER BEDARF -->
		<li class="nav-item">
			<a>BASTELN</a>
			<div class="dropdown-content">
		 		<div class="dropdown-content-inner">
		 			<div>
						<h3>Kleber</h3>
					    <ul>
					   		<li><a href="#">Artikel 1</a></li>
							<li><a href="#">Artikel 2</a></li>
						  	<li><a href="#">Artikel 3</a></li>
						  	<li><a href="#">Artikel 4</a></li>
						  	<li><a href="#">Artikel 5</a></li>
						</ul>
					</div>
					<div>
						<h3>Werkzeuge</h3>
					    <ul>
						   	<li><a href="#">Artikel 1</a></li>
						  	<li><a href="#">Artikel 2</a></li>
						  	<li><a href="#">Artikel 3</a></li>
						  	<li><a href="#">Artikel 4</a></li>
						  	<li><a href="#">Artikel 5</a></li>
					  	</ul>
					</div>
				</div>
	    	</div>
	    </li> <!-- E BASTELN -->
		<li class="nav-item">
			<a href='#'>SALE%</a>
			<div class="dropdown-content">
		 		<div class="dropdown-content-inner">
		 			<div>
						<h3>YUHUUUUU</h3>
					    <ul>
					   		<li><a href="#">Artikel 1</a></li>
							<li><a href="#">Artikel 2</a></li>
						  	<li><a href="#">Artikel 3</a></li>
						  	<li><a href="#">Artikel 4</a></li>
						  	<li><a href="#">Artikel 5</a></li>
						</ul>
					</div>
				</div>
	    	</div>
	    </li> <!-- E SALE -->
      <li class="nav-itemCart">
        <a href="http://localhost:4200/cart"><span class="fa fa-shopping-bag"></span></a>
      </li>
  </ul>
</nav>
