<ul id="menu">
<div id="center">
    <li> <a [routerLink]="['/category', 'Papeterie']">PAPETERIE</a>
        <ul>
            <li><a class="subcat" [routerLink]="['/subcategory', 'Kalendar & Terminkalendar']">Kalender&Terminplaner</a></li>
            <li><a class="subcat" [routerLink]="['/subcategory', 'Papier']">Papier</a></li>
        </ul>
    </li>
    <li><a [routerLink]="['/category', 'Ordnen']">ORDNEN</a>
        <ul>
            <li><a class="subcat" [routerLink]="['/subcategory', 'Ordner']">Ordner</a></li>
            <li><a class="subcat" [routerLink]="['/subcategory', 'Hefter']">Hefter</a></li>
        </ul>
    </li>
    <li> <a [routerLink]="['/category', 'Schreibwaren']">SCHREIBWAREN</a>
        <ul>
            <li><a class="subcat" [routerLink]="['/subcategory', 'Schreibgeräte']">Schreibgeräte</a></li>
            <li><a class="subcat" [routerLink]="['/subcategory', 'Korrigieren']">Korrigieren</a></li>
        </ul>
    </li>
    <li> <a [routerLink]="['/category', 'Künstlerbedarf']">K&Uuml;NSTLERBEDARF</a>
        <ul>
            <li><a class="subcat" [routerLink]="['/subcategory', 'Malen & Zeichnen']">Malen&Zeichnen</a></li>
        </ul>
    </li>
    <li> <a [routerLink]="['/category', 'Basteln']">BASTELN</a>
    <ul>
        <li> <a class="subcat" [routerLink]="['/subcategory', 'Kleber']">Kleber</a></li>
        <li> <a class="subcat" [routerLink]="['/subcategory', 'Werkzeuge']">Werkzeuge</a></li>
    </ul>
    </li>
    <li> <a [routerLink]="['/neuheiten']">NEUHEITEN</a></li>
    <li> <a [routerLink]="['/sale']">SALE%</a></li>
    <li> <a [routerLink]="['/cart']"><span class="fa fa-shopping-bag"></span></a></li>
    </div>
</ul>