<app-mainmenu></app-mainmenu>

<div class="body">
  <app-searchbar></app-searchbar>

  <div class="teaser">
    <img class="teaserimg" src="/assets/images/placeholder-img.png">
  </div>

  <section>
    <div class="col-md-3 col-sm-4 product">
      <a class="link">
        <a href="" class="product-imgwrapper">
          <img src="/assets/images/placeholder-img.png">
        </a>
        <h3 class="product-category">Category</h3>
        <h2 class="product-category-title">Product name</h2>
        <h3 class="product-preis">€€€</h3>
      </a>
    </div>
  </section>
</div>

<app-footer></app-footer>
