<app-mainmenu></app-mainmenu>

<div class="body">

<div id="search_bar">
  <form >
      <i class="fa fa-search"></i>
      <input id="search_field" type="text" name="begriff" placeholder="Hier suchen.." [(ngModel)]="begriff" >
      <div class= "search_option">
        <ul>
          <li *ngFor="let item of myItems |Suche:begriff" >
            <a [routerLink]="['/product-page', item.id]" class="">{{item.name}}</a>
          </li>
        </ul>
      </div>
  </form>
</div>



  <aside>
    <div class="sort">
      <p>sortieren nach:</p>
      <ul class="sort-item">
        <li>preis aufsteigend</li>
        <li>preis absteigend</li>
      </ul>
    </div>

    <div class="filter">
      <form #f="ngForm" >
        <p>filtern nach:</p>

        <div class="filter-header">
          <a href tabindex="0"><span (click)="toggleOpen($event)" >Farbe</span></a>
        </div>
        <div class="filter-block" [hidden]="!isOpen">
          <!-- NEUE FILTER OPTIONEN -->

          <div class="filter-text">
            <label><input type="checkbox" name="term.color.rot" [(ngModel)]="term.color.rot" (ngModelChange)="applyFilter()">rot</label>
          </div>
          <div class="filter-text">
            <label><input type="checkbox" name="term.color.blau" [(ngModel)]="term.color.blau" (ngModelChange)="applyFilter()">blau</label>
          </div>
          <div class="filter-text">
            <label><input type="checkbox" name="term.color.schwarz" [(ngModel)]="term.color.schwarz" (ngModelChange)="applyFilter()">schwarz</label>
          </div>
        </div>

        <div class="filter-header">
          <a href tabindex="0"><span (click)="toggleOpen($event)" >preis</span></a>
        </div>
        <div class="filter-block" [hidden]="!isOpen">
            <div class="filter-text">
              <label><input type="checkbox" name="term.price.p1" [(ngModel)]="term.price.p1" (ngModelChange)="applyFilter()">Bis 5€</label>
            </div>

            <div class="filter-text">
              <label><input type="checkbox" name="term.price.p2" [(ngModel)]="term.price.p2" (ngModelChange)="applyFilter()">5€ - 10€</label>
            </div>

            <div class="filter-text">
              <label><input type="checkbox" name="term.price.p3" [(ngModel)]="term.price.p3" (ngModelChange)="applyFilter()">10€ - 20€</label>
            </div>

            <div class="filter-text">
              <label><input type="checkbox" name="term.price.p4" [(ngModel)]="term.price.p4" (ngModelChange)="applyFilter()">ab 20€</label>
            </div>
        </div>

       </form>
    </div>
  </aside>

<section>
  <form>

    <div class="col-md-3 col-sm-4 product" *ngFor="let item of myItems | filter:term:forceUpdate">
      <a class="link">
        <a [routerLink]="['/product-page', item.id]" class="product-imgwrapper">
          <img src="/assets/images/{{item.id}}.jpg">
        </a>

        <h3 class="product-category">{{item.id}}</h3>
        <h2 class="product-category-title">{{item.name}}</h2>
        <h3 class="product-preis">{{item.price}} &#x20AC;</h3>
      </a>
    </div>
    </form>
</section>

</div>

<app-footer></app-footer>
