<app-mainmenu></app-mainmenu>

<div class="body">
  
<div id="search-bar">
  <form >
  <input id="search_field" type="text" name="begriff" placeholder="Hier suchen.." [(ngModel)]="begriff" >
     <div class= "search_option">
      <ul>
        <li *ngFor="let item of myItems |Suche:begriff" >
           <a [routerLink]="['/product-page', item.id]" class="">{{item.name}}</a>
        </li>
      </ul>
    </div>
  </form>
</div>



  <aside>
    <div class="sort">
      <p>sortieren nach:</p>
      <ul class="sort-item">
        <li>preis aufsteigend</li>
        <li>preis absteigend</li>
      </ul>
    </div>

    <div class="filter">
      <form #f="ngForm" >
      <p>filtern nach:</p>
      <div class="filter-header">
        <a href tabindex="0"><span (click)="toggleOpen($event)" >Farbe</span></a>
      </div>
      <div class="filter-block" [hidden]="!isOpen">

        <!-- NEUE FILTER OPTIONEN -->

        <div class="filter-text">
          <label><input type="checkbox" name="term.color.rot" [(ngModel)]="term.color.rot" (ngModelChange)="applyFilter()" class="fa fa-square-o">rot</label>
        </div>

        <div class="filter-text">
          <label><input type="checkbox" name="term.color.blau" [(ngModel)]="term.color.blau" (ngModelChange)="applyFilter()" class="fa fa-square-o">blau</label>
        </div>
        
        <div class="filter-text">
          <label><input type="checkbox" name="term.color.schwarz" [(ngModel)]="term.color.schwarz" (ngModelChange)="applyFilter()" class="fa fa-square-o">schwarz</label>
        </div>

        <b> TEST </b>

        <div class="filter-text">
          <label><input type="checkbox" name="term.price.p1" [(ngModel)]="term.price.p1" (ngModelChange)="applyFilter()" class="fa fa-square-o">Bis 10€</label>
        </div>

        <div class="filter-text">
          <label><input type="checkbox" name="term.price.p2" [(ngModel)]="term.price.p2" (ngModelChange)="applyFilter()" class="fa fa-square-o">10€ - 100€</label>
        </div>
        
        <div class="filter-text">
          <label><input type="checkbox" name="term.price.p3" [(ngModel)]="term.price.p3" (ngModelChange)="applyFilter()" class="fa fa-square-o">100€ - 500€</label>
        </div>

        <div class="filter-text">
          <label><input type="checkbox" name="term.price.p4" [(ngModel)]="term.price.p4" (ngModelChange)="applyFilter()" class="fa fa-square-o">ab 500€</label>
        </div>

        <!-- ALTE FILTER OPTIONEN -->

        <div class="filter-text">
          <span ><i class="fa fa-square-o"></i>rot</span>
        </div>
        <div class="filter-text">
          <span ><i class="fa fa-square-o"></i>blau</span>
        </div>
        <div class="filter-text">
          <span><i class="fa fa-square-o"></i>gr&uuml;n</span>
        </div>
        <div class="filter-text">
          <span><i class="fa fa-square-o"></i>gelb</span>
        </div>
        <div class="filter-text">
          <span><i class="fa fa-square-o"></i>bunt</span>
        </div>
        <div class="filter-text">
          <span><i class="fa fa-square-o"></i>braun</span>
        </div>
        <div class="filter-text">
          <span><i class="fa fa-square-o"></i>transparent</span>
        </div>
        <div class="filter-text">
          <span><i class="fa fa-square-o"></i>wei&szlig;</span>
        </div>
      </div>
    </form>
    </div>
  </aside>

<section>
  <form>

    <div class="col-md-3 col-sm-4 product" *ngFor="let item of myItems | filter:term:forceUpdate">
      <a class="link">
        <a [routerLink]="['/product-page', item.id]" class="product-imgwrapper">
          <img src="/assets/images/{{item.id}}.jpg">
        </a>
      
        <h3 class="product-category">{{item.id}}</h3>
        <h2 class="product-category-title">{{item.name}}</h2>
        <h3 class="product-preis">{{item.price}}</h3>
      </a>
    </div>
    </form>
</section>

</div>

<app-footer></app-footer>
