<app-mainmenu></app-mainmenu>

<div class="container">
    <ul class="progressbar">
        <li class="active">Bestellübersicht</li>
        <li class="active">Adresse</li>
        <li class="active">Zahlungsmöglichkeiten</li>
        <li>Fertig</li>
    </ul>
    <div class="body">
    <div class="text-links">
        <h1>  Zahlen via PayPal </h1>
        </div>
        <div class="text-rechts">
        <h1>  Gesamtpreis: 12,98 € </h1>
    </div>
    <p> Beim Abschließen des Bestellvorgangs. wirst du zu PayPal weitergeleitet, wo du dich anmelden und deine Überweisung unter Angabe des Verwendungszwecks an </p>

   </div>
    <div class="btn-box">
        <button id="primarybtn" routerLink="../">Zurück</button>
        <button id="primarybtn" routerLink="Thanks">Bezahlen mit PayPal</button>
    </div>
