<app-mainmenu></app-mainmenu>
<div id="imp">
<h1 class="heading">Impressum</h1><br/>

			<p>Onurs Bastelecke ist ein Familienunternehmen und wurde am 15.03.2005 unter der Nummer VR&nbsp;5857
			vom Amtsgericht Dortmund in das dortige Vereinsregister eingetragen.</p>

			<h2>Kontaktdaten</h2>

			<ul class="twocol">
				
					<h3>Postanschrift des Vereins</h3>
					<p>
						Onurs Bastelecke e.V.<br>
						c/o Onur Yavuz<br>
						Benziner Straße 34<br>
						D-19386 Hof Kreien<br>
						<a href="mailto:Onur.Yavuz@Bastelecke.org">Onur.Yavuz@Bastelecke.com</a>
					</p>
				
			</ul>

			<h2>Vereinsdaten</h2>

			<p>Das Familienunternehmen e.V. wird vertreten durch:</p>

			<ul>
				<p>den ersten Vorsitzenden Onur Yavuz – <a href="mailto:matthias.apsel@Bastelecke.org">Onur.Yavuz@Bastelecke.org</a></p>
				<p>den zweiten Vorsitzenden Elif Yavuz – <a href="mailto:matthias.scharwies@Bastelecke.org">Elif.Yavuz@Bastelecke.org</a></p>
				<p>den Kassierer Christoph Kummer – <a href="mailto:christoph.kummer@Bastelecke.org">christoph.kummer@Bastelecke.org</a></p>
			</ul>

			<p>Jedes dieser Vorstandsmitglieder kann den Verein allein vertreten.</p>

			<h2>Weitere Ansprechpartner</h2>
			<p>Für Fragen, Kritik oder Ideen zum Onurs Bastelecke
-Projekt wenden Sie sich per E-Mail an <a href="mailto:projekt@Onurs Bastelecke
.org">projekt@Onurs Bastelecke
.org</a>.</p>

	

            <h2>Datenschutzbestimmungen</h2>
            <h3>Geltungsbereich</h3>

            <p>Die Nutzung der Webpräsenz von Onurs Bastelecke
 ist grundsätzlich ohne Angabe von personenbezogenen Daten möglich. Für die Nutzung einzelner Services können sich hierfür abweichende Regelungen ergeben, die in diesem Falle nachstehend gesondert erläutert werden. Ihre personenbezogenen Daten (z.B. Name, Anschrift, E-Mail, Telefonnummer, u.ä.) werden nur gemäß den Bestimmungen des deutschen Datenschutzrechts verarbeitet. Daten sind dann personenbezogen, wenn sie eindeutig einer bestimmten natürlichen Person zugeordnet werden können.</p>

            <p>Die rechtlichen Grundlagen des Datenschutzes finden Sie im Bundesdatenschutzgesetz (BDSG) sowie im Telemediengesetz (TMG).</p>
            <p>Nachstehende Regelungen informieren Sie insoweit über die Art, den Umfang und Zweck der Erhebung, die Nutzung und die Verarbeitung von personenbezogenen Daten durch Onurs Bastelecke
.</p>

            <p>Wir weisen darauf hin, dass die Datenübertragung im Internet Sicherheitslücken aufweisen kann und Ihre Daten somit nicht lückenlos vor dem Zugriff durch Dritte geschützt werden können.</p>

            <h3>Datenerhebung und -verarbeitung (Zugriffsdaten)</h3>

            <p>Aus technischen und rechtlichen Gründen speichert Onurs Bastelecke
 Zugriffsdaten ohne Personenbezug in sogenannten Serverlogfiles. Zu den Zugriffsdaten gehören (in Abhängigkeit der von Ihrem Browser übermittelten Daten):</p>

             <ul>
                <p>IP-Adresse</p>
                <p>Datum und Uhrzeit des Zugriffs</p>
                <p>angeforderte Resource inklusive der Methode und des Protokolls</p>
                <p>vom Server gesendeter Statuscode</p>
                <p>Größe der vom Server gesendeten Resource</p>
                <p>Referrer (die URL der zuvor besuchten Seite)</p>
                <p>User-Agent String</p>
            </ul>
            <p>Die Logfiles werden Onurs Bastelecke
 nur für statistische Auswertungen zum Zweck des Betriebs, der Sicherheit und Optimierung des Angebotes, sowie zur eigenen rechtlichen Absicherung im Rahmen seiner gesetzlichen Haftung verwendet. Diese anonymen Daten erlauben keinerlei Rückschlüsse auf eine bestimmte Person.</p>

            <p>Onurs Bastelecke
 behält sich jedoch vor, die Protokolldaten nachträglich zu überprüfen, wenn aufgrund konkreter Anhaltspunkte der berechtigte Verdacht einer rechtswidrigen Nutzung besteht.</p>

            <h3>Nutzung und Weitergabe personenbezogener Daten</h3>

            <p>Jegliche Nutzung Ihrer personenbezogenen Daten erfolgt nur zu den genannten Zwecken und in dem zur Erreichung dieser Zwecke erforderlichen Umfang. Eine Weitergabe an Dritte erfolgt nicht. Übermittlungen personenbezogener Daten an staatliche Einrichtungen und Behörden erfolgen nur im Rahmen zwingender nationaler Rechtsvorschriften oder wenn die Weitergabe im Fall von Angriffen auf die Netzinfrastruktur zur Rechts- oder Strafverfolgung erforderlich ist. Eine Weitergabe zu anderen Zwecken findet nicht statt.</p>

            <h3>Einbindung von Diensten und Inhalten Dritter</h3>

            <p>Es kann vorkommen, dass innerhalb des Angebots von Onurs Bastelecke
 Inhalte Dritter, wie zum Beispiel Videos von YouTube, Kartenmaterial von Google-Maps, RSS-Feeds oder Grafiken von anderen Webseiten eingebunden werden. Dies setzt technisch bedingt immer voraus, dass Ihre IP-Adresse an die Anbieter dieser Inhalte übermittelt wird. Onurs Bastelecke
 hat keinen Einfluss darauf, ob die Dritt-Anbieter die IP-Adresse z.B. für statistische Zwecke speichern.</p>

                    
            
            <p>Onurs Bastelecke erhält keine weiteren Statistiken oder Daten von browser-statistik.de.</p>

            <h3>Cookies</h3>

            <p>Diese Website verwendet Cookies, sofern Ihre Browsereinstellungen dies zulassen. Dabei kommen zum einen sogenannte Session-Cookies zum Einsatz, die jeweils bei Beendigung der aktuellen Browsersession automatisch wieder gelöscht werden. Diese Cookies enthalten lediglich auf das Gerät und den verwendeten Browser bezogene Informationen und dienen rein der Verbesserung der Benutzerfreundlichkeit der Webpräsenz. Zum anderen können auch sogenannte Persistent-Cookies gesetzt werden, z.B. zur Speicherung des Login-Status.</p>

            <p>Sie können Ihren Internetbrowser so einstellen, dass das Speichern von Cookies eingeschränkt oder komplett verhindert werden kann. Allerdings wird darauf hingewiesen, dass beispielsweise ein Login die Annahme von Session-Cookies zwingend erfordert und im Übrigen der Nutzungskomfort ohne Cookies unter Umständen eingeschränkt ist.</p>

            <h3>Kontaktaufnahme</h3>

            <p>Im Falle der Kontaktaufnahme mit Onurs Bastelecke
 per E-Mail oder über ein Kontaktformular werden Ihre gemachten Angaben zum Zwecke der Bearbeitung seiner Kontaktaufnahme gespeichert. Eine Weitergabe an Dritte erfolgt nicht. Ein Abgleich der so erhobenen Daten mit Daten, die möglicherweise durch andere Komponenten der Website erhoben werden, erfolgt ebenfalls nicht.</p>

            <h3>Auskunft, Widerruf, Berichtigungen/Aktualisierungen und Löschung</h3>

            <p>Sie können sich bei Fragen zur Erhebung, Verarbeitung oder Nutzung Ihrer personenbezogenen Daten und deren Berichtigung, Sperrung, Löschung oder einem Widerruf einer erteilten Einwilligung unentgeltlich an Onurs Bastelecke
 wenden. Das Recht auf Berichtigung falscher Daten oder Löschung personenbezogener Daten besteht nur insoweit, wie diesem Anspruch keine gesetzliche Aufbewahrungspflicht entgegensteht.</p>

            <h3>Einbeziehung, Gültigkeit und Aktualität der Datenschutzerklärung</h3>

            <p>Mit der Nutzung dieser Website willigen Sie in die vorab beschriebene Datenverwendung ein. Die Datenschutzerklärung ist aktuell gültig und datiert vom 9.11.2014.</p>

            <p>Durch die Weiterentwicklung der Website oder die Implementierung neuer Technologien kann es notwendig werden, diese Datenschutzerklärung zu ändern. Onurs Bastelecke
 behält sich vor, die Datenschutzerklärung jederzeit mit Wirkung für die Zukunft zu ändern. Ihnen wird daher empfohlen, von Zeit zu Zeit zu prüfen, ob die Datenschutzerklärung aktualisiert wurde.</p>
        

       

          <h3>Gültigkeitsbereich</h3>
          <p>Die nachfolgenden Nutzungsbedingungen gelten für sämtliche in das Onurs Bastelecke
-Forum hochgeladenen Medien (insbesondere aber nicht ausschließlich: Bilder oder Grafiken), einschließlich der Profilbilder (Avatare).</p>

          <h3>Rechteeinräumung</h3>

          <p>Mit dem Upload erteilen Sie Onurs Bastelecke
 das zeitlich unbeschränkte und unentgeltliche Recht zur Veröffentlichung im Internet für eine unbestimmte Anzahl von Nutzern sowie das Vervielfältigungsrecht auf den Servern von Onurs Bastelecke
. Durch die Einräumung dieses Rechtes ist Onurs Bastelecke
 berechtigt, die von Ihnen eingestellten Medien sowohl im Forum, als auch im Wiki oder im Blog unter den jeweils dort geltenden Lizenzbedingungen zu verwenden.</p>

          <p>Sie räumen Onurs Bastelecke
 und jedem Nutzer des SELFHML-Forums zudem ein Bearbeitungsrecht ein, falls beispielsweise eine Größenanpassung oder die Wahl eines Bildausschnittes notwendig erscheint bzw. Korrekturen, Hinweise oder Hilfestellungen. gegeben werden sollen. Sofern Onurs Bastelecke
 eine Ihrer Grafiken außerhalb des Onurs Bastelecke
-Forums verwendet, werden Sie als Urheber der Grafik genannt.</p>

          <h3>Einschränkungen, Freistellung</h3>

          <p>Sie sind nicht berechtigt, urheberrechtlich geschütztes Material, an dem Sie nicht das alleinige Nutzungsrecht haben, hochzuladen.</p> 
          <p>Sie sichern zu, dass das hochgeladene Material frei von Rechten Dritter ist.</p>
          <p>Sie verpflichten sich, keine rechtswidrigen oder verunglimpfenden Inhalte oder solche, die Persönlichkeitsrechte verletzen, hochzuladen. Dies gilt ebenso für pornografisches Material oder erotische Darstellungen sowie Ressourcen, die Viren oder andere schädliche Inhalte enthalten.</p>
          
          <p>Onurs Bastelecke
 behält sich das Recht vor, hochgeladene Bilder ohne Angabe von Gründen zu löschen.  
            Onurs Bastelecke
 wird außerdem hochgeladene Grafiken auf ausdrücklichen Wunsch des Autors oder eines Betroffenen, etwa weil ein Screenshot die eigene Webseite unvorteilhaft darstellt, unverzüglich löschen oder verfremden.</p>

          <p>Sie stellen Onurs Bastelecke
 von jeglicher Haftung für die eingestellten Inhalte frei.</p>
          
        </div>
        <app-footer></app-footer>
