<app-mainmenu></app-mainmenu>

<div class="container">
    <ul class="progressbar">
        <li class="active">Bestellübersicht</li>
        <li>Adresse</li>
        <li>Zahlungsmöglichkeiten</li>
        <li>Fertig</li>
    </ul>

<div class="sicht">
    <table>
        <tr>
            <th>Artikel</th>
            <th>Artikelpreis</th>
            <th>Anzahl</th>
            <th>Gesamtpreis</th>
            <tr>
                <tr>
                    <td>Lamy Füller</td>
                    <td>9,99 €</td>
                    <td>1</td>
                    <td>9,99 €</td>
                    <tr>
                        <td>Bleisift</td>
                        <td>2,99 €</td>
                        <td>1</td>
                        <td>2,99 €</td>
                    </tr>
                       <tr>
                        <td></td>
                        <td></td>
                        <td>Gesamtpreis</td>
                        <td>12,98 €</td>
                    </tr>

    </table>
    <div class="btn-box">
        <button id="primarybtn" routerLink="../">Zurück zum Warenkorb</button>
        <button id="primarybtn" routerLink="adresse" >Weiter zum Einkauf</button>
    </div>
</div>
</div>
