<div class="login-class">
	<h3>WILKOMMEN IM MITARBEITER BEREICH!</h3>
	<p>Dieser Bereich steht nur den Mitarbeitern der Onurs Bastelecke zur Verfügung</p>

	<div class="form">
  		<h2>Als Mitarbeiter anmelden</h2>
      <div class="loginSenden" data-success="eingeloggt">


      <form #f="ngForm" (ngSubmit)="loginSenden(f)"class="register-form">
                  <div *ngIf="showSuccess">eingeloggt</div>

      		<input name="username" type="text" placeholder="email angeben" required ngModel/>
      		<input name="passwordinput" type="password" placeholder="password angeben"required ngModel/>
      		<p class="secondarymsg"><a href="#">Passwort vergessen?</a></p>
      		<button id="primarybtn">anmelden</button>
   		</form>
	</div>
</div>
