<div class="login-class">
	<h3>WELCOME TO THE MITARBEITER-BEREICH!</h3>
	<p>Dieser Bereich steht nur den Mitarbeiter der Schopname zur Verfügung</p>

	<div class="form">
  		<h2>Als Mitarbeiter anmelden</h2>
    	<form class="register-form">
      		<input type="text" placeholder="E-Mail angeben"/>
      		<input type="password" placeholder="Password angeben"/>
      		<p class="message"><a href="#">Sign In</a></p>
      		<button id="primarybtn">ANMELDEN</button>
   		</form>
	</div>
	<p class="message"><a href="#">Konto erstellen</a></p>
</div>