.dashboard {
    width: 40%;
    margin-left: 30%;
    margin-right: 20%;
}

.dashboard-form {
    text-align: left;
    margin-top: 5px;
}

.heading {
    font-size: 20px;
}

#productname {
    left: 300px;
    top: 303px;
    width: 90%;
    height: 40px;
}

#select-boxen {
	width:100%;
    float: left;
    margin-top: 5%;
    margin-bottom: 5%;
}

#left {
	width: 45%;
    float: left;
    
}

#center {
	width:50%;
    float: left;
    margin-left: 2px;
}

#right {
	width:100%;
    float: left;
    margin-bottom: 5%
}

.kategorie {
    font-size: 12px;
    width: 20%;
    height: 5%;
}
#Details{
	margin-top: 5px;
	width: 100%;

}




#Preis_Anzahl {
    float: left;
    width: 100%;
    margin-bottom: 5px;
    margin-top: 5%;
}
#Preis{
	float: left;
	width: 20%;
	margin-right: 10%;

}

#Anzahl{
	float:left;
	width:20%;
}

#upload{
	width:100%;
	margin-top: 15%;
}

.dashboard-form[_ngcontent-doh-4] {
    font-family: 'Yanone Kaffeesatz', sans-serif;
}
#btn1{
    margin-top: 2px;
}
#btn_area {
    margin-top: 5%;
    float:left;
}