<div class="body">
    <div class="dashboard">
        <div class="putArticle" data-success="Einen neuen Artikel wurde angelegt!">
            <div *ngIf="showSuccess">Neuer Artikel angelegt!</div>
            <h2>
   Produkt &Uuml;bersicht
  </h2>
            <div class="dashboard-form" *ngIf="myItem">
                <form #f="ngForm" (ngSubmit)="updateProduct(f)">
                    <h3>* Name: </h3>
                    <input id="productname" name="productname" type="text" placeholder="Produktname eingeben" required [(ngModel)]="myItem.name">
                    <br>
                    <h3>* ID: </h3>
                    <input id="productname" name="productid" type="text" placeholder="ID eingeben" required [(ngModel)]="myItem.id">
                    <br>
                    <div>
                        <h3>* Kategorie </h3>
                        <select id="productname" name="kategorie" required [(ngModel)]="myItem.category">
                            <option value="Papeterie">Papeterie</option>
                            <option value="Ordnen">Ordnen</option>
                            <option value="Schreibwaren">Schreibwaren</option>
                            <option value="Künstlerbedarf">K&uuml;nstlerbedarf</option>
                            <option value="Basteln">Basteln</option>
                        </select>
                        <br>
                        <h3>* SubKategorie </h3>
                        <select id="productname" name="subkategorie" required [(ngModel)]="myItem.subcategory">
                            <option value="Kalendar&Terminkalendar">Kalender&Terminkalender</option>
                            <option value="Ordner">Ordnen</option>
                            <option value="Hefter">Hefter</option>
                            <option value="Papier">Papier</option>
                            <option value="Kleber">Kleber</option>
                            <option value="Korrigieren">Korrigieren</option>
                            <option value="Werkzeuge">Werkzeugt</option>
                            <option value="Schreibgeräte">Schreibgeräte</option>
                            <option value="Malen&Zeichnen">Malen&Zeichnen</option>
                        </select>
                        <br>
                        <h3>* Farbe </h3>
                        <select id="productname" name="color" required [(ngModel)]="myItem.color">
                            <option value="Schwarz">Schwarz</option>
                            <option value="Rot">Rot</option>
                            <option value="Blau">Blau</option>
                            <option value="Grün">Grün</option>
                            <option value="Gelb">Gelb</option>
                            <option value="Bunt">Bunt</option>
                            <option value="Braun">Braun</option>
                            <option value="Transparent">Transparent</option>
                            <option value="Weiß">Weiß</option>
                        </select>
                        <br>
                    </div>
                    <h3>* Details: </h3>
                    <input id="productname" name="beschreibung" type="text" placeholder="Bitte die Details eingeben..." required [(ngModel)]="myItem.info">
                    <div id="Preis_Anazhl">
                    <h3>* Preis:  </h3>
                    <input id="productname" name="preis" type="text" placeholder="" required [(ngModel)]="myItem.price">
                    <br>
                    <h3>* Anzahl:  </h3>
                    <input id="productname" name="anzahl" type="text" placeholder="" required [(ngModel)]="myItem.stock">
                    </div>
                    <br>
                    <form method="post" action="upload.php" enctype="multipart/form-data">
                        <h3> Datei  </h3>
                        <input type="hidden" name="MAX_FILE_SIZE" value="100000">
                        <input type="file" name="datei" size="40" maxlength="100000">
                    </form>
                    <br>
                    <div id="btn_area">
                    <button type="submit" [disabled]="!f.valid"><span></span>anlegen</button>
                    <button type="submit" [disabled]="!f.valid"><span class="fa fa-envelope"></span>abbrechen</button>
                    </div>
                </form>
            </div>
        </div>
        </div>
        </div>
