<app-mainmenu></app-mainmenu>
  

  <div class="container">
      <ul class="progressbar">
          <li class="active">Bestellübersicht</li>
          <li class="active">Adresse</li>
          <li>Zahlungsmöglichkeiten</li>
          <li>Fertig</li>
  </ul>
  

<div class="adress-form">
    <div class="links">
        <h3>* Nachname </h3>
        <input class="nachname" type="text" />
    </div>
    <div class="rechts">
        <h3>* Vorname </h3>
        <input class="vorname" type="text" />
    </div>
    <div class="links">
        <h3>* Straße </h3>
        <input class="straße" type="text" />
    </div>
    <div class="rechts">
        <h3>* Hausnummer </h3>
        <input class="hausnummer" type="text" />
    </div>
    <div class="links">
        <h3>* Ort </h3>
        <input class="ort" type="text" />
    </div>
    <div class="rechts">
        <h3>* PLZ </h3>
        <input class="plz" type="text" />
    </div>
    <div class="links">
        <h3>* Email-Adresse </h3>
        <input class="email" type="text" />
    </div>
    <div class="rechts">
        <h3>* Telefonnummer </h3>
        <input class="telefon" type="text" />
    </div>
   <div class="anmerk">
    <h3>Anmerkungen: </h3>
    <input class="anmerkungen" type="text" />
 </div>
    <div class="chkbox-links">
        <input class="chkbox" type="checkbox">
    </div>
    <div class="text-rechts">
        <h1>
            Einverstanden mit den allgemeinen Geschäftsbedingungen
        </h1>
    </div>
<div class="btn-box">
<button id="primarybtn" routerLink="../">Zurück</button>
<button id="primarybtn" routerLink="bezahlung">Weiter</button>
</div>
</div>
</div>
