<div class="content">
	<div class="teaserblock" href="#">
		<a> <img src="/assets/images/teaser1.png"> </a>
		<div class="teaserblock-text">
			<a>
				<h2>Sale!</h2>
				<h3>Super günstige Angebote in unserem Sale-Bereich</h3>
			</a>
		</div>

	</div>
	<div class="teaserblock" href="#">
		<a> <img src="/assets/images/teaser2.png"> </a>
		<div class="teaserblock-text">
			<a>
				<h2>Neuheiten bei dem Schreibwaren!</h2>
			  <h3>Entdeckt unseren neuen Linkshänder-Bleistift</h3>
			</a>
		</div>
</div>
