<div class="dashboard-class">

	<header id="header">
		<h1 >Onur's Bastelecke Dashboard</h1>
	</header>



		<div class="dashboard-title">Produkte</div>

		<div id="droplist" class="search">
			<form>
				<input id="search_field" type="text" name="search" placeholder="Hier suchen.." />
				<select>
					<option>Alle Produkte</option>
					<option>Papeterie</option>
					<option>Ordnen</option>
					<option>K&uuml;nstlerbedarf</option>
					<option>Basteln</option>
				</select>
				 <button id="search_btn" type="submit" value="Suchen"></button>
				 <button id="product_add"type="submit" value="Produkt hinzuf&uuml;gen" routerLink="dashboard-productpage"></button>
			
			<br>
			</form>
			
			<table>
	<tr>
		<th>Produktname</th>
		<th>Produktart</th>
		<th>Preis</th>
		<th></th>
		<th></th>							
	<tr>
						
   <tr>
      <td>Bleisift</td>
      <td>Schreibwaren</td>
      <td>Euro</td>
	  <td>Bearbeiten</td>
	  <td>L&ouml;schen</td>
   </tr>
      <tr>
      <td>Bleisift</td>
      <td>Schreibwaren</td>
      <td>Euro</td>
	  <td>Bearbeiten</td>
	  <td>L&ouml;schen</td>
   </tr>
      <tr>
      <td>Bleisift</td>
      <td>Schreibwaren</td>
      <td>Euro</td>
	  <td>Bearbeiten</td>
	  <td>L&ouml;schen</td>
   </tr>
      <tr>
      <td>Bleisift</td>
      <td>Schreibwaren</td>
      <td>Euro</td>
	  <td>Bearbeiten</td>
	  <td>L&ouml;schen</td>
   </tr>
      <tr>
      <td>Bleisift</td>
      <td>Schreibwaren</td>
      <td>Euro</td>
	  <td>Bearbeiten</td>
	  <td>L&ouml;schen</td>
   </tr>
      <tr>
      <td>Bleisift</td>
      <td>Schreibwaren</td>
      <td>Euro</td>
	  <td>Bearbeiten</td>
	  <td>L&ouml;schen</td>
   </tr>
      <tr>
      <td>Bleisift</td>
      <td>Schreibwaren</td>
      <td>Euro</td>
	  <td>Bearbeiten</td>
	  <td>L&ouml;schen</td>
   </tr>
      <tr>
      <td>Bleisift</td>
      <td>Schreibwaren</td>
      <td>Euro</td>
	  <td>Bearbeiten</td>
	  <td>L&ouml;schen</td>
   </tr>
   
   
</table>
		</div>
		

	
</div>



