<header></header>

<div class="body">
	<div class="dashboard-class">

			<h1>Neuen Mitarbeiter einladen</h1>
				<div class="send-email" data-success="Eine Email ist gesendet">
					<!--<div class="email-input">-->
					<form #f="ngForm" (ngSubmit)="sendMail(f)">
						<div class="form-group">

							<input name="mail" id="mail" type="email" placeholder="" required ngModel>
							<button type="submit" [disabled]="!f.valid"><span class="fa fa-envelope"></span>send email</button>

						</div>

					</form>

				</div>

			<h1>Produkte</h1>

			<div id="droplist" class="search">
				<form>
					<input id="search_field" type="text" name="search" placeholder="Hier suchen.." />
					<select>
						<option>Alle Produkte</option>
						<option>Papeterie</option>
						<option>Ordnen</option>
						<option>K&uuml;nstlerbedarf</option>
						<option>Basteln</option>
					</select>
					 <button id="search_btn" type="submit" value="Suchen">Suchen</button>
					 <button id="product_add" routerLink="add-product">Produkt hinzuf&uuml;gen</button>
				</form>

				<table>
					<tr>
						<th>Produktname</th>
						<th>Produktart</th>
						<th>Preis</th>
						<th></th>
						<th></th>
					<tr>

				   <tr>
				      <td>Bleisift</td>
				      <td>Schreibwaren</td>
				      <td>Euro</td>
						  <td>Bearbeiten</td>
						  <td>L&ouml;schen</td>
				   </tr>
				    <tr>
				      <td>Bleisift</td>
				      <td>Schreibwaren</td>
				      <td>Euro</td>
						  <td>Bearbeiten</td>
						  <td>L&ouml;schen</td>
				   </tr>
				    <tr>
				      <td>Bleisift</td>
				      <td>Schreibwaren</td>
				      <td>Euro</td>
						  <td>Bearbeiten</td>
						  <td>L&ouml;schen</td>
				   </tr>
				    <tr>
				      <td>Bleisift</td>
				      <td>Schreibwaren</td>
				      <td>Euro</td>
						  <td>Bearbeiten</td>
						  <td>L&ouml;schen</td>
				   </tr>
				    <tr>
				      <td>Bleisift</td>
				      <td>Schreibwaren</td>
				      <td>Euro</td>
						  <td>Bearbeiten</td>
						  <td>L&ouml;schen</td>
				   </tr>
				    <tr>
				      <td>Bleisift</td>
				      <td>Schreibwaren</td>
				      <td>Euro</td>
						  <td>Bearbeiten</td>
						  <td>L&ouml;schen</td>
				   </tr>
				      <tr>
				      <td>Bleisift</td>
				      <td>Schreibwaren</td>
				      <td>Euro</td>
					  <td>Bearbeiten</td>
					  <td>L&ouml;schen</td>
				   </tr>
				      <tr>
				      <td>Bleisift</td>
				      <td>Schreibwaren</td>
				      <td>Euro</td>
					  <td>Bearbeiten</td>
					  <td>L&ouml;schen</td>
				   </tr>


				</table>
			</div>



</div>
