<div class="login-class">
	<h3>WELCOME TO THE MITARBEITER-BEREICH!</h3>
	<p>Dieser Bereich steht nur den Mitarbeitern der Onurs Bastelecke zur Verfügung</p>

	<div class="form">
  		<h2>Als Mitarbeiter registrieren</h2>
    	<form class="register-form">
      		<input type="text" placeholder="invite-code angeben"/>
      		<input type="text" placeholder="email angeben"/>
      		<input type="password" placeholder="password angeben"/>
      		<p class="secondarymsg"><a href="#">Passwort vergessen?</a></p>
      		<button id="primarybtn">sich registrieren</button>
   		</form>
	</div>
	<p class="message"><a href="#">Anmelden</a></p>
</div>
