<div class="login-class">
	<h3>WELCOME TO THE MITARBEITER-BEREICH!</h3>
	<p>Dieser Bereich steht nur den Mitarbeitern der Onurs Bastelecke zur Verfügung</p>

	<!--<div class="form">-->
  <div class="form">
  		<h2>Als Mitarbeiter registrieren</h2>
    	<form #f="ngForm" (ngSubmit)="registrierungSenden(f)"class="register-form">
      		<input type="text" name="id" placeholder="invite-code angeben" id="id" value={{id}} />
      		
          <input type="text" name="emailinput" placeholder="email angeben" id="emailinput" required ngModel/>

      		<input type="password" name="passwordinput" placeholder="password angeben" id="passwordinput" required ngModel/>
      		<p class="secondarymsg"><a href="#">Passwort vergessen?</a></p>
      		<button id="primarybtn" type="submit" [disabled]="!f.valid">sich registrieren</button>
   		</form>
	</div>

	<p class="message"><a href="#">Anmelden</a></p>

</div>
