/* You can add global styles to this file, and also import other style files */ 
html, body {
	font-family: 'Avenir Book';
	height: 100%;
}

/************ FONT ************/
h1 {
	font-size: 16px;
	color: #B2B2B2;
}
h2 {
	font-size: 14px;
	color: #32845B;
}
h3 {
	font-size: 12px;
	color: #006633;
	text-align: left;
	cursor: default;
}
p {
	font-size: 10px;
	color: #B2B2B2;
}

/************ BUTTON ************/
button {
	font-family: 'Avenir';
	font-size: 13px;
	text-transform: uppercase;
	background-color: #32845B;
	width: 95%;
	border: 1px solid #32845B;
	padding: 2%;
	color: #FFFFFF;
	cursor: pointer;
	margin-top: 30%;
}
button:hover, button:active, button:focus {
	font-family: 'Avenir';
	background: #FFFFFF;
	text-transform: uppercase;
	border: 1px solid #006633;
	color: #006633;
}

/************* INPUT ************/
input {
	font-family: 'Avenir';
	font-size: 12px;
	outline: 0;
  	background: #FFFFFF;
  	width: 95%;
  	border: 1px solid #E9E9E9;
  	padding: 8px;
  	box-sizing: border-box;
}

/************* MESSAGE A ************/
.message a{
	color: #5A9C7B;
	text-decoration: none;
}

.message a:hover{
	color: #006633;
	text-decoration: none;
}
