/* You can add global styles to this file, and also import other style files */
<script src="https://gist.github.com/ngs/6263905.js"></script>
 
h1 {
	font-size: 20px;
	color:red;
}

h2 {
	font-size: 16px;
	color:red;
}

h3 {
	font-family:'Avenir LT W01 35 Light';
	font-size: 13px;
	color: #B2B2B2;
}

p {
	font-size: 12px;
}