<app-mainmenu></app-mainmenu>

<div class="body">

  <!-- Nav-bar -->
  <nav class="navbar">
    <ul>
      <li><span class="fa fa-scissors"></span><a href="/">Home</a></li>
      <li><span class="divisor"></span><a>Label 1</a></li>
      <li><span class="divisor"></span><a href=#>Sublabel 1</a></li>
    </ul>
  </nav>

  <!-- Item Specification-->
  <div class="col-md-1 item">
      <div class="col-md-2 img-wrapper">
        <img src="/assets/images/placeholder-img.png">
      </div>
      <div class="col-md-2 detail">
          <div class="item-specification-name"><h1>Item name</h1></div>
          <div class="item-specification-id"><h3>#000111</h3></div>
          <div class="content-specification-keyvalue">
            <div class="key">Farbe</div>
            <div class="value">-</div>
          </div>
          <p><b>Description</b>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta placeat tenetur adipisci ipsa laudantium architecto,
          enim perspiciatis nam, voluptate nobis tempore minima hic a libero, facere sunt aspernatur eum nesciunt.</p>
          <div class="item-specification-preis">€€€</div>
      </div>
  </div>

  <div class="buy-btn">
  <button> in den Wahrenkorb </button>
  </div>

  <hr class="visible-lg">

  <!-- Related Item -->
  <div class="related-item">
    <h1>Related products</h1>
    <div class="col-md-3 col-sm-4 product">
      <a class="link">
        <a href="" class="product-imgwrapper">
          <img src="/assets/images/placeholder-img.png">
        </a>
        <h3 class="product-category">Category</h3>
        <h2 class="product-category-title">Item name</h2>
        <h3 class="product-preis">€€€</h3>
      </a>
    </div>
  </div>
</div>
