<app-mainmenu></app-mainmenu>

<div class="body">

    <div id="search_bar" on-wheel="weg($event)">
        <form>
            <i class="fa fa-search"></i>
            <input id="search_field" (keyup)="onKey($event)"  type="text" name="begriff" placeholder="Hier suchen.." [(ngModel)]="begriff">
            <div id="search_option">
                <ul id="liste">
                    <li id="list" (click)="onclick($event)"  *ngFor="let item of myItems |Suche:begriff">
                        <a class="dinger" [routerLink]="['/product-page', item.id]" class="">{{item.name}}</a>
                    </li>
                </ul>
            </div>
        </form>
    </div>

    <app-teaserbanner></app-teaserbanner>

    <div class="wrapper">
        <img src="/assets/images/top-product.png">
    </div>

    <app-product-div></app-product-div>

</div>

<app-footer></app-footer>
