#kontakth1{
	margin-top:5px;
	
}

.div1{
	 width: 70%;
    text-align: left;
    display: inline-block;
    margin-right: 15%;
    margin-left: 15%;
    margin-bottom: 20%;
}
.row{
	margin-top: 5px;
}
#email_send{
	margin-top: 10px;
}