<app-mainmenu></app-mainmenu>
<div class="div1">
<h1 id="kontakth1">Kontakt</h1>
<form id="contact_form" action="#" method="POST" enctype="multipart/form-data">
	<div class="row">
		<label for="name">Ihr Name:</label><br />
		<input id="name" class="input" name="name" type="text" value="" size="20" /><br />
	</div>
	<div class="row">
		<label for="email">Ihre Email:</label><br />
		<input id="email" class="input" name="email" type="text" value="" size="20" /><br />
	</div>
	<div class="row">
		<label for="message">Ihre Nachricht:</label><br />
		<textarea id="message" class="input" name="message" rows="10" cols="50"></textarea><br />
	</div>
	<button id="email_send" type="submit" value="senden">Email senden</button>
</form>		
</div>