<app-mainmenu></app-mainmenu>
<div class="div1">
<h1 id="kontakth1">Kontakt</h1><br/>
<form #f="ngForm" (ngSubmit)="nachrichtSenden(f)"class="register-form" id="contact_form">

 <div *ngIf="showSuccess">Ihre Anfrage wurde gesendet</div>

	<div class="row">
		<label for="name">Ihr Name:</label><br />
		<input name="name" id="name" class="input" name="name" type="text" value="" size="20" required ngModel/><br />
	</div>
	<div class="row">
		<label for="email">Ihre Email:</label><br />
		<input name="email" id="email" class="input" name="email" type="text" value="" size="20" required ngModel/><br />
	</div>
	<div class="row">
		<label for="message">Ihre Nachricht:</label><br />
		<textarea name="nachricht" id="message" class="input" name="message" rows="10" cols="50" required ngModel></textarea><br />
	</div>
	<button id="primarybtn" type="submit" [disabled]="!f.valid">Email senden</button>
</form>		
</div>
       <app-footer></app-footer>
