<app-mainmenu></app-mainmenu>

<div id="about">
<h1> Über Uns </h1>

<img id="onur-bild" src="/assets/images/onur.png"> 

<p> Wir sind seid über 50 Jahren ein erfolgreiches Familienunternehmen</p>

<p>Wir sind seit 03.09.2004 in Babelsberg für Sie da.  Für Ihre  Wünsche Rund ums Basteln sind wir die Spezialisten. Gern stehen Ihnen unsere freundlichen und spezialisierten MitarbeiterInnen jederzeit zur Verfügung</p>
 
<p>Unser Angebot konnten wir so erweitern, dass 2008 die Ladenfläche mit einem Durchbruch zum Nachbarladen verdoppelt werden konnte.
 
Stets finden wir  auf Messen und Fachveranstaltungen  für Sie die neuesten Trends und Materialen.
 
Wir sind ein kreatives Team und stehen Ihnen mit vielen Ideen und Tipps zur Seite.
 
Zu unserem  wachsenden Kundenstamm gehören bereits jetzt Tagesmütter, Kindertagesstätten und Bastelfans.
 
Durchsuchen Sie mal unsere Website nach weiteren tollen Materialien und Ideen </p><br />
 
<p>Wenn Sie Fragen zum verwirklichen Ihrer Wünsche haben oder über unser Angebot sprechen möchten, schreiben Sie uns einfach eine E-Mail an:</p><br />
 
 <p>
info@Bastelecke.de
oder
rufen Sie uns an unter 0331 / 23 78 593.</p>
</div>