#about{
	width: 35%;
    text-align: center;
    display: inline-block;
    margin-right: 30%;
    margin-left: 30%;
    margin-bottom: 5%;
    font-family:  'Yanone Kaffeesatz', sans-serif;
}
#photos{
	width: 80%;
    text-align: center;

    margin-right: 12%;
    margin-left: 8%;

	margin-top: 2%;
	
}
.photo{
	height: 200px;

	margin-right: 1px;
	
}
.heading{
	font-size: 30px;
	
}