<app-mainmenu></app-mainmenu>

<div class="body">
  <app-searchbar></app-searchbar>

  <aside>
    <div class="sort">
      <p>sortieren nach:</p>
      <ul class="sort-item">
        <li>preis aufsteigend</li>
        <li>preis absteigend</li>
      </ul>
    </div>

    <div class="filter">
      <p>filtern nach:</p>
      <div class="card-header">
        <a href tabindex="0"><span (click)="toggleOpen($event)">Farbe</span></a>
      </div>
      <div class="card-block" [hidden]="!isOpen">
        <div class="card-text">
          <div class="color"></div></div> <span>blaaaaaa</span>
        </div>
      </div>
    </div>
  </aside>


  <section>
    <div class="col-md-3 col-sm-4 product">
      <a class="link">
        <a href="" class="product-imgwrapper">
          <img src="/assets/images/placeholder-img.png">
        </a>
        <h3 class="product-category">Category</h3>
        <h2 class="product-category-title">Product name</h2>
        <h3 class="product-preis">€€€</h3>
      </a>
    </div>

    <div class="col-md-3 col-sm-4 product">
      <a class="link">
        <a href="" class="product-imgwrapper">
          <img src="/assets/images/placeholder-img.png">
        </a>
        <h3 class="product-category">Category</h3>
        <h2 class="product-category-title">Product name</h2>
        <h3 class="product-preis">€€€</h3>
      </a>
    </div>

    <div class="col-md-3 col-sm-4 product">
      <a class="link">
        <a href="" class="product-imgwrapper">
          <img src="/assets/images/placeholder-img.png">
        </a>
        <h3 class="product-category">Category</h3>
        <h2 class="product-category-title">Product name</h2>
        <h3 class="product-preis">€€€</h3>
      </a>
    </div>

    <div class="col-md-3 col-sm-4 product">
      <a class="link">
        <a href="" class="product-imgwrapper">
          <img src="/assets/images/placeholder-img.png">
        </a>
        <h3 class="product-category">Category</h3>
        <h2 class="product-category-title">Product name</h2>
        <h3 class="product-preis">€€€</h3>
      </a>
    </div>

    <div class="col-md-3 col-sm-4 product">
      <a class="link">
        <a href="" class="product-imgwrapper">
          <img src="/assets/images/placeholder-img.png">
        </a>
        <h3 class="product-category">Category</h3>
        <h2 class="product-category-title">Product name</h2>
        <h3 class="product-preis">€€€</h3>
      </a>
    </div>

    <div class="col-md-3 col-sm-4 product">
      <a class="link">
        <a href="" class="product-imgwrapper">
          <img src="/assets/images/placeholder-img.png">
        </a>
        <h3 class="product-category">Category</h3>
        <h2 class="product-category-title">Product name</h2>
        <h3 class="product-preis">€€€</h3>
      </a>
    </div>

    <div class="col-md-3 col-sm-4 product">
      <a class="link">
        <a href="" class="product-imgwrapper">
          <img src="/assets/images/placeholder-img.png">
        </a>
        <h3 class="product-category">Category</h3>
        <h2 class="product-category-title">Product name</h2>
        <h3 class="product-preis">€€€</h3>
      </a>
    </div>
  </section>

</div>

<app-footer></app-footer>
